* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

:root{
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color:  rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255,255,255,0.1);
  --surface-color-hover: rgba(255,255,255,0.05);
  --highlight-color: rgba(255,255,255,0.2);
  --switch-bg-url: url(assets/MoonStars.svg)
}

.light{
  --text-color: rgb(65, 65, 65);
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0,0,0,0.02);
  --highlight-color: rgba(0,0,0,0.1);
  --switch-bg-url: url(assets/sun.svg)
}

body {
  /*
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  */

  background: var(--bg-url) no-repeat top center / cover;

  height: 100vh;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}
#container {
  width: 100%;
  max-width: 440px;
  margin: 56px auto 0px;
  padding: 0 24px; 
}

/* profile */

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/* switch */

#switch{
  position: relative;
  width:64px;
  margin: 4px auto;

}

#switch button{

  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position:absolute;
  top:50%;
  left:0;
  transform: translateY(-50%);
  z-index: 1;

  animation: slide-back 0.2s;

}

.light #switch button{
  animation: slide-in 0.2s forwards;
}

#switch span{
  display:block;
  height:24px;
  width:64px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;

}

#switch button:hover {
  outline: 8px solid var(--highlight-color);

}

/* links */

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0
}

ul li a{
 border: 1px solid red;

 display: flex;
 justify-content: center;
 align-items: center;  

 padding: 16px 24px;

 background: var(--surface-color);
 border: 1px solid var(--stroke-color);
 border-radius:8px;
 backdrop-filter: blur(4px);
 -webkit-backdrop-filter: blur(4px);

 text-decoration:none;
 font-weight:500;

 transition: all .2s;
}

/* pseudo-selector ou sudo selector */

ul li a:hover{

 background: var(--surface-color-hover);
 border: 1.5px solid var(--text-color);

}

#social{

  display:flex;
  padding:24px 0;
  justify-content:center;


  font-size:24px;


}

#social a{

  display:flex;
  align-items: center;
  justify-content: center;
  padding:16px;
  transition: background .2s;

 border-radius: 50%;
}

#social a:hover{
 background: var(--highlight-color);
 padding:16px;

}

footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}


/* media queries */

@media (min-width:600px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }

  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }


}

/*animations*/
@keyframes slide-in {
from {
  left: 0;
}

to {
  left: 50%
}
}

.box {
  animation-timing-function: ease-in-out;
}

@keyframes slide-back {
from {
  left: 50%;
}

to {
  left: 0;
}
}
